<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tuition Expert</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Admin Home</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdownMenuLink"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Category
              </a>
              <ul
                class="dropdown-menu"
                aria-labelledby="navbarDropdownMenuLink"
              >
                <li>
                  <a class="dropdown-item" href="{% url 'add-category' %}"
                    >Add Category</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'view-category' %}"
                    >View Categories</a
                  >
                </li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdownMenuLink"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Course
              </a>
              <ul
                class="dropdown-menu"
                aria-labelledby="navbarDropdownMenuLink"
              >
                <li>
                  <a class="dropdown-item" href="{% url 'add-course' %}"
                    >Add Course</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'view-course' %}"
                    >View Courses</a
                  >
                </li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdownMenuLink"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Subject
              </a>
              <ul
                class="dropdown-menu"
                aria-labelledby="navbarDropdownMenuLink"
              >
                <li>
                  <a class="dropdown-item" href="{% url 'add-subject' %}"
                    >Add Subject</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'view-subjects' %}"
                    >View Subjects</a
                  >
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'expert-requests' %}">Expert Requests</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'student-requests' %}">Student Requests</a>
            </li>
        
          </ul>
          

        </div>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li class="text-white">
          <a href="{% url 'logout-admin' %}" class="nav-item nav-link">
            <button type="button" class="btn btn-danger">Logout</button></a>
        </li>
      </ul>
    </nav>
    

    <div class="container-fluid text-center">


        <h1>Course</h1>

        <div class="row">

            {% for course in data %}
            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">Course:{{course.name}}</h5>
                <h6 class="card-title">Category:{{course.category.name}}</h6>
                <p class="card-text">{{course.description}}</p>
                <a href="{% url 'remove-course' course.id %}" class="btn btn-danger">Remove Course</a>
              </div>
            </div>
            {% endfor %}
        </div>






    </div>






    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>
    
</body>
</html>